/* Grande carte */
.aside {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  min-width: 500px;
  max-width: 60ch;

  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  & > div > p:last-of-type {
    font-weight: bold;
  }
  
  & > img {
    max-width: 500px;
    border: 1px solid var(--color-accent);
    border-radius: 3px;
  }
}
