.bouton {
  font-weight: 300;
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: var(--space-sm);
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--font-size-xxl);
  font-family: var(--font-family-primary);
  width: fit-content;
  margin-top: var(--space-sm);
  transition: background-color 500ms;
}

.bouton:hover {
  background-color: var(--color-link);
  color: #121212;
}
