/* carte-simple */
.parfum img {
  max-width: 300px;
  cursor: pointer;
  border-radius: 3px;
}

.parfum > div {
  padding: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-radius: 3px;
  cursor: pointer;
}

.parfum.bordure {
  border: 1px solid var(--color-accent);
}
