.navigation-principale {
  display: flex;
  gap: var(--space-xxl);
  align-items: center;

  & a {
    font-size: var(--font-size-xxl);
    order: 0;
  }

  & div {
    order: 1;
    cursor: pointer;

    & i {
      color: var(--color-accent);
      transition: color 350ms;
    }

    & i:hover {
      color: var(--color-link);
    }
  }
}
